/* media query */
@media screen and (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
    section{
        padding:2rem;
    }
    
}
@media screen and (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
     }
     header .navbar{
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 1rem;
        border-top:0.1rem solid rgba(0,0,0,0.2);
        border-bottom:0.1rem solid rgba(0,0,0,0.2);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
     }
     header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
     }
     header .navbar a{
        display:block;
        width: 100%;
        padding:1.5rem;
        font-size:2rem;
        margin:1rem;
        background-color: #eee;
     }
     #search-form #search-box{
        width: 90%;
        margin:0 1rem;
     }
     .home .home-slider .slide .content h3{
        font-size: 5rem;
     }
}
@media screen and (max-width:450px){
    html{
        font-size: 50%;
    }   
    .dishes .box-container .box img{
        height: auto;
       width: 100%;
    }
    .order form .inputBox .input{
        width: 100%;
    }
}
@media screen and (min-width:1200px){
    .dishes .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(32rem,1fr));
        gap: 1.5rem;
        
    }
}
